<ion-header>
  <ion-toolbar>
    <ion-title>
      Rentals
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div *ngFor="let rental of rentals">
        <ion-card>
          <ion-card-content>
              <img src ="{{rental.imageUrl}}" (click)="navToRentalInfo(rental)">
              {{rental.houseName}} in {{rental.location}}
          </ion-card-content> 
        </ion-card>
      </div>

</ion-content>


<ion-footer no-shadow>
    <ion-toolbar position="bottom">
      <ion-button (click)="navToNewRental()" shape="round" expand="block" >Create New Rental</ion-button>
    </ion-toolbar>
  </ion-footer>