
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs"></ion-back-button>
      </ion-buttons>
      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
      <ion-grid>
          <ion-row>
            <ion-col align-self-start width="10px">
                <ion-avatar size="small">
                    <img src ="https://scontent.fopo2-2.fna.fbcdn.net/v/t1.0-9/51221242_1018810211649656_3534067690090004480_n.jpg?_nc_cat=104&_nc_ht=scontent.fopo2-2.fna&oh=d41a1647e7cce4d8598645b9ed7945f5&oe=5D8E898E" alt="Sarah Kunkel">
                  </ion-avatar>
            </ion-col>
            <ion-col align-self-center>
              Hi, I'm Sarah Kunkel 
            </ion-col>
          </ion-row>
        </ion-grid>


           
         

        <ion-item>
          <ion-label>About</ion-label>
          Lives in Nashville, Tennessee
        </ion-item>
        <ion-item>
            <ion-label>Bookings Made</ion-label>
            47
          </ion-item>
          <ion-item>
              <ion-label>Reviews Recieves</ion-label>
              47
            </ion-item>
 
    
  
  
  </ion-content>